<!DOCTYPE HTML>
<html>
<head>
    <title>Login Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
<h1>Κάτι πήγε στραβά</h1>
<p><span th:text="${errorMessage}"></span></p>
</form>
</body>
</html>