<!DOCTYPE HTML>
<html>
<head>
    <title>Login Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
<h3>
    <div class="label label-info">
        Welcome, <span th:text="${wish.name}">user</span>!
    </div>
</h3>

<p>
 Η ευχή σου είναι σε κατάσταση ελένχου για λόγους ασφάλειας. Μόλις γίνει ο έλενχος θα εμφανιστεί στο site.
</p>>

</body>
</html>